/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/frontend/all.css'
*/

.pr-nwb-snippet-stars .pr-stars-small, .pr-modal-container .pr-stars {
    float: left;
    height: 15px;
    line-height: 15px;
    width: 83px;
    background-image: url(/pwr/engine/images/stars_small.gif);
}

.pro_container .pr-nwb-snippet-stars {
    background: none repeat scroll 0 0 transparent;
    border-style: none;
    display: inline-block;
    padding: 0;
    width: 82px;
}

.pr-nwb-snippet-stars .pr-stars-5-sm {
    background-position:0 -180px;
}
.pr-nwb-snippet-stars .pr-stars-4_5-sm {
    background-position:0 -162px;
}
.pr-nwb-snippet-stars .pr-stars-4-sm {
    background-position:0 -144px;
}
.pr-nwb-snippet-stars .pr-stars-3_5-sm {
    background-position:0 -126px;
}
.pr-nwb-snippet-stars .pr-stars-3-sm {
    background-position:0 -108px;
}
.pr-nwb-snippet-stars .pr-stars-2_5-sm {
    background-position:0 -90px;
}
.pr-nwb-snippet-stars .pr-stars-2-sm {
    background-position:0 -72px;
}
.pr-nwb-snippet-stars .pr-stars-1_5-sm {
    background-position:0 -54px;
}
.pr-nwb-snippet-stars .pr-stars-1-sm {
    background-position:0 -36px;
}