<%   @product||=product%>
<%
   @review_product=@product
   if %w(1738 1739 1740).include?(@product.id.to_s)
     @review_product=Spree::Product.find(1737)
   end
   if %w(1839).include?(@product.id.to_s)
     @review_product=Spree::Product.find(1077)
   end
%>
    <div class="pr_review_summary" id="review_summary_<%=@review_product.id.to_s%>">

      <div class="yotpo bottomLine"
           data-product-id="<%= @review_product.id%>"
           data-url="/products/<%= @review_product.slug%>">
      </div>
    </div>
    <div class="clear"></div>


