<%= render :partial => 'shared/powerreviews_engine_js', :locals=>{:product => product}%>

<div class="rating"><div class="pr_snippet_category"><span id="ask_a_question" tabindex="5"><%=
    link_to "Ask a Question",'#qa'
%></span></div></div>
