<%   @product||=product%>
<%
   @review_product=@product
   if %w(1738 1739 1740).include?(@product.id.to_s)
     @review_product=Spree::Product.find(1737)
   end
   #fo-ti
   if %w(1770).include?(@product.id.to_s)
     @review_product=Spree::Product.find(1439)
   end
   #ksg
   if %w(1839).include?(@product.id.to_s)
     @review_product=Spree::Product.find(1077)
   end
   if %w(1807 1796).include?(@product.id.to_s)
     @review_product=Spree::Product.find(1109)
   end

   the_rate=@review_product.review_set_average_rating.to_s || "0"
   if the_rate.to_s.include? "."
     arr=the_rate.split('.')
     if arr[1].to_i>6
       the_rate=(arr[0].to_i+1).to_s
     elsif arr[1].to_i<3
       the_rate=arr[0]
     else
       the_rate=arr[0] + '_5'
     end
   end
   if the_rate.to_i>1
%>
    <div class="pr_review_summary" id="review_summary_<%=@review_product.id.to_s%>">
      <div class="pr-nwb-snippet-stars">
        <div title="Perfect. It doesn't get any better" class="pr-stars pr-stars-small pr-stars-<%= the_rate%>-sm">&nbsp;</div>
      </div>
      <%#= File.read( product.review_set_inline_path ) if (product.review_set && !product.review_set_inline_path.blank? && File.exists?( product.review_set_inline_path ) )%>
      <div class="pr-snippet-read-write">
        <div class="pr-snippet-read-reviews">
          <a href="#reviews" data-pr-event="snippet-read-reviews" class="pr-snippet-link" id="">
            Read
            <span><%= @review_product.review_set_full_review_count %></span>
            Reviews
          </a>
        </div>
        <div class="pr-snippet-write-review"><a href="<%= @review_product.slug %>/review" data-pr-event="snippet-write-review" class="pr-snippet-link">Write a Review</a></div>
        <div class="pr-clear"></div>
      </div>
    </div>

    <div class="clear"></div>
<%end%>

